.table{
    background-color:#e4e4e4af;
    margin-top: auto;
    display: table;
    width: 100%;
    height: 13vh;
    text-align: center;
}

.tr{
    
    background-color: #54B4D3;
}

.title_cart{
    margin-bottom: 30px;
}

.divContainer_carrito{
    min-height:80vh;
}

.divContainer_cartview {
    min-height:80vh;
}

.divContainer_cartview p{
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button_cartView{
    margin-bottom: 10px;
    padding: 5px 10px;
    color:white;
    background-color:#004D40;
    border-radius: 5px;
    cursor: pointer;
}
.button_cartView_delete{
    margin-bottom: 10px;
    padding: 5px 10px;
    color:white;
    background-color:#DC4C64;
    border-radius: 5px;
    cursor: pointer;
}