.card-img {
    width: 280px;
    height: 260px;
    object-fit: cover;
}
.card-detail{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.ItemC{
    display: flex;
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color:  rgb(97, 150, 220); /* Color de fondo */
	position: fixed;
	bottom: 70px;
	right: 202px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
h3{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}


