*{
    margin: 0px;
    padding: 0px;
}

.App-header {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    color: white;
    font-size: 25px;
}

.App-header ul {
    margin-bottom: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.App-header ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}

.App-header ul li {
    position: relative;
    float: left;
}


.App {
    text-align: center;
    font-size: 23px;
}

h2 {
    font-size: 50px;
}

.App-header ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: transparent;
    ;
    padding: 0;
}

.App-header ul li:hover ul {
    display: block;
}
