*{
    margin: 0px;
    padding: 0px;
}

.App-header {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    font-size: 25px;
}

.App-header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.Categ{
    color:white;
    font-size: 25px;
}
.App-header ul a {
    display: block;
    color:white;
    text-decoration: none;
    font-size: 29px;
}

.App-header ul li {
    position: relative;
    float: left;
}


.App {
    text-align: center;
    font-size: 23px;
}

h2 {
    color:rgb(37, 32, 32);
    font-size: 50px;
    margin-bottom: 20px;
}

.App-header ul ul {
    display: none;
    position: absolute;
    padding: 5px;
    background-color:rgb(97, 150, 220);
    margin-top: 2px;
}
.App-header ul ul a {
    margin-bottom: 30px;
    color: white;
    font-size: 2px;
}

.App-header ul li:hover ul {
    display: block;
}

.App-header nav {
    height: 150px;
}
.App-header h2{
    margin-bottom: 50px;
    color:rgb(53, 53, 53);
}